/*****************************************************
Colors and styles for Sleep Inn
*****************************************************/

div#CH-WEBSPI {
  background-color: #243690;
  padding: 15px;
}

#CH-WEBSPI-Reserve label {
  color: #f2f2f2;
}

button#getRate {
  background-color: #F7BE06;
  color: #444;
}

button#getRate:hover {
  background-color: #FFD95E;
  color: #444;
  transition: 0.5s;
}

p#CH-WEBSPI-Reserve-ErrorMsg {
  color: #FFD0D0;
}
