/*****************************************************
Colors and styles for Suburan Hotel
*****************************************************/

div#CH-WEBSPI {
  background-color: #192757;
  padding: 15px;
}

#CH-WEBSPI-Reserve label {
  color: #f2f2f2;
}

button#getRate {
  background-color: #C0313A;
  color: #f2f2f2;
}

button#getRate:hover {
  background-color: #E14851;
  color: #f2f2f2;
  transition: 0.5s;
}

p#CH-WEBSPI-Reserve-ErrorMsg {
  color: #FFD0D0;
}